@import url(https://fonts.google.com/specimen/Kumbh+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
   
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(226, 208, 208);
  margin: 20px;
}
.logo-menu {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 20px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
}
.cart-img {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-img {
  width: 50px;
}
.shop-icon {
  width: 30px;
}
.img-1 {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.img-2,
.img-3,
.img-4,
.img-5 {
  width: 80px;
  border-radius: 10px;
}
.images {
  padding: 100px;
}

.main-img {
  width: 50px;
}
.thumbnail-img {
  margin: 10px;
  display: flex;
  gap: 20px;
  
}

.text-container{
    padding-bottom: 80px;
    gap:10px;
}
.text{
    padding-top: 20px;
}
.para{
    padding-top:20px;
}

.price-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    padding-top: 20px;

}
.button-count{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    gap: 10px;

}
.product-count{
    display: flex;
    gap:50px;
    background-color: rgb(246, 240, 240) ;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color: hsl(26, 100%, 55%);
    border-style: none;
    width: 200px;
    border-radius: 5px;

}
.discount{
    background-color: black;
    border-radius: 5px;
}
.discount-percent{
    color: white;
    padding: 5px;
}
.actual-price{
    padding-top: 10px;
    text-decoration: line-through;
}

@media screen and (max-width:500px) {
    .sub-container{
        display: flex;
        flex-direction: column;
       
       
    }
    .thumbnail-img{
        display: none;
    }
    .main-img{
        width: 400px;
      
     

    }
    .img-1{
        width: 650px;
        height: auto;
        background-size: cover;
        border-radius: 0px;
    }
    .text-container{
       margin-left: 50px;
       
    }
    .brand-name{
        font-size: 30px;

    }
    .list{
        display: none;
    }
    .cart-img{
        gap: 30px;
    }
    .nav-bar{
        gap: 300px;
        border-style: none;
    }
}
